.one{
    font-style:sans serif;
    font-weight:bold;
    font-size:15px;
    padding-left: 50px;
}
table,tr,td{
    border: 1px solid black;
    padding:3px;
    border-collapse: collapse;
}

p:hover {
    list-style-type:none;
    border:1px solid black;
    outline-width:2px;
    cursor :pointer;
    padding:3px;
    display:inline-block;
}	